*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
img,
section {
  display: block;
}

img {
  width: 100%;
  height: auto;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
}

.header__social-list:after, .header__social-list:before {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  margin: 0 17px;
  background-color: #E5E5E5;
}

body {
  background-color: #E5E5E5;
  font-family: "Lora", serif;
}

.container {
  max-width: 1440px;
  padding-left: 70px;
  padding-right: 70px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 150px;
  padding-bottom: 150px;
}
.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.28;
  color: #495057;
}

.social-list {
  display: flex;
  align-items: baseline;
}
.social-list__item:not(:first-child) {
  margin-left: 18px;
}
.social-list__icon {
  align-self: center;
  fill: #E5E5E5;
  transition: fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #D4A373;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -10px;
}
.card-list__item {
  margin: 10px;
  border-radius: 4px;
  background-color: #ffffff;
}
.card-list__item_width_310 {
  max-width: calc((100% - 80px) / 4);
}
.card-list__item_width_420 {
  max-width: calc((100% - 60px) / 3);
}
.card-list__hashtag-list {
  position: absolute;
  top: 20px;
  right: 20px;
}
.card-list__img-wrapper {
  position: relative;
}
.card-list__img-wrapper_bottom_20 {
  margin-bottom: 20px;
}
.card-list__image {
  background-color: #E5E5E5;
  border-radius: 4px 4px;
}
.card-list__user {
  padding: 0px 20px 0px 20px;
  margin-bottom: 25px;
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.tab__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 12px;
  line-height: 2.08;
  color: #495057;
  background-color: transparent;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.tab__button:hover, .tab__button:focus {
  color: #D4A373;
}

.hashtag {
  display: inline-block;
  padding: 5px 10px;
  font-family: "Roboto", serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}
.hashtag:hover, .hashtag:focus {
  color: #D4A373;
}

.hashtag-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 17px;
}
.user__photo {
  width: auto;
}
.user__name {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  color: #495057;
}
.user__profession {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  color: #6C757D;
}

.search-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.search-btn__icon {
  width: auto;
  fill: #E5E5E5;
  transition: fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.search-btn:hover .search-btn__icon, .search-btn:focus .search-btn__icon {
  fill: #D4A373;
}

.subscription {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: #E5E5E5;
  background-color: transparent;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.subscription:hover, .subscription:focus {
  color: #D4A373;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__nav-menu {
  margin-left: auto;
}
.nav-menu__list {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.nav-menu__link {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.67;
  color: #E5E5E5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.nav-menu__link:hover, .nav-menu__link:focus {
  color: #D4A373;
}
.nav-menu__link_active {
  color: #ffffff;
}
.nav-menu__link_active:after {
  content: " ";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -4px;
  background-color: #D4A373;
}

.hero {
  padding-top: 278px;
  padding-bottom: 140px;
  background-image: url("../images/bg/first_hero.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-color: #E5E5E5;
}
.hero__hashtag {
  margin-bottom: 15px;
}
.hero__title {
  max-width: 530px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.28;
  color: #ffffff;
}
.hero__title_center {
  margin-left: auto;
  margin-right: auto;
}
.hero__content {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  color: #E5E5E5;
}
.hero__content_reverse {
  flex-direction: column-reverse;
  align-items: center;
}
.hero__vertical-line:after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 1px;
  margin: 4px 10px;
  background-color: #E5E5E5;
}
.hero__vertical-line_center:before {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  margin: 20px auto;
  background-color: #E5E5E5;
}
.hero__text {
  max-width: 420px;
}

.sub-hero {
  padding-top: 140px;
  padding-bottom: 140px;
  text-align: center;
  background-image: url("../images/bg/second_hero.jpg");
}
.sub-hero__hashtag {
  margin-bottom: 24px;
}

.topics__title {
  margin-bottom: 30px;
}
.topics__tab {
  margin-bottom: 30px;
}
.topics__card-content {
  padding: 0 20px;
}
.topics__card-content .card-content__date {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  color: #6C757D;
  margin-bottom: 15px;
}
.topics__card-content .card-content__title {
  max-height: 50px;
  max-width: 100%;
  margin-bottom: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.39;
  color: #495057;
}
.topics__card-content .card-content__text {
  max-width: 100%;
  max-height: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  color: #6C757D;
}
.topics__card-content:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 20px 0px;
  background-color: #E5E5E5;
}

.editor__title {
  margin-bottom: 70px;
}
.editor__card-content {
  position: absolute;
  left: 9.5%;
  bottom: 12%;
  right: 9.5%;
}
.editor__card-content .card-content__date {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  color: #E5E5E5;
  margin-bottom: 15px;
}
.editor__card-content .card-content__title {
  max-height: 50px;
  max-width: 100%;
  margin-bottom: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.39;
  color: #ffffff;
}
.editor__card-content .card-content__text {
  max-width: 100%;
  max-height: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  color: #E5E5E5;
}
.editor__card-content .card-content__title {
  max-width: 270px;
}

.footer__container {
  display: flex;
  align-items: flex-start;
}
.footer__information {
  padding-top: 106px;
  padding-bottom: 106px;
  background-color: #212529;
}
.footer__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.38;
  color: #ffffff;
  text-transform: none;
}
.footer__rigths {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: #E5E5E5;
}
.footer__subscription {
  padding-top: 41px;
  padding-bottom: 41px;
  background-color: #343A40;
}
.footer__about, .footer__social-list, .footer__contacts, .footer__address {
  flex: 1;
}

.contacts__item:not(:last-child),
.about__item:not(:last-child) {
  margin-bottom: 18px;
}

.contacts__link,
.about__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #E5E5E5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.contacts__link:hover, .contacts__link:focus,
.about__link:hover,
.about__link:focus {
  color: #D4A373;
}

.address {
  font-style: normal;
}

.address__item {
  display: block;
  max-width: 114px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  color: #E5E5E5;
  cursor: pointer;
}
.address__item:hover, .address__item:focus {
  color: #D4A373;
}

/*# sourceMappingURL=main.css.map */
