@mixin card-content($title_color, $text-color) {
	.card-content {
		&__date {
			@include main-text(12px, 400, 1.67, $text-color);

			margin-bottom: 15px;
		}

		&__title {
			max-height: 50px;
			max-width: 100%;
			margin-bottom: 15px;

			text-overflow: ellipsis;
			overflow: hidden;

			@include main-text(18px, 700, 1.39, $title_color);
		}

		&__text {
			max-width: 100%;
			max-height: 60px;

			text-overflow: ellipsis;
			overflow: hidden;

			@include main-text(12px, 400, 1.67, $text-color);
		}
	}
}