@mixin decorative-vertical-line($display, $w, $h, $margin) {
	content: "";
	display: $display;
	width: $w;
	height: $h;
	margin: $margin;

	background-color: $second-text-color;
}

@mixin interaction($hover_color) {
	cursor: pointer;

	&:hover,
	&:focus {
		color: $hover_color;
	}
}