$primary-text-color: #495057;
$second-text-color: #E5E5E5;
$third-text-color: #ffffff;
$fourth-text-color: #6C757D;

$header-bg-color: #000000;
$main-bg-color: #E5E5E5;
$second-bg-color: #ffffff;
$primary-footer-bg-color: #212529;
$second-footer-bg-color: #343A40;

$accent-color: #D4A373;

$time-cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);