.card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: -10px;

	&__item {
		margin: 10px;

		border-radius: 4px;
		background-color: $second-bg-color;

		&_width_310 {
			max-width: calc((100% - 80px) / 4);
		}

		&_width_420 {
			max-width: calc((100% - 60px) / 3);
		}
	}

	&__hashtag-list {
		position: absolute;
		top: 20px;
		right: 20px;
	}

	&__img-wrapper {
		position: relative;

		&_bottom_20 {
			margin-bottom: 20px;
		}
	}

	&__image {
		background-color: $main-bg-color;
		border-radius: 4px 4px;
	}

	&__user {
		padding: 0px 20px 0px 20px;
		margin-bottom: 25px;
	}
}