.hashtag {
	display: inline-block;
	padding: 5px 10px;

	font-family: "Roboto", serif;
	text-transform: uppercase;
	@include main-text(10px, 700, 1.2, $third-text-color);

	border-radius: 8px;
	border: none;
	background-color: rgba($color: $second-bg-color, $alpha: 0.15);

	@include interaction($accent-color);
}