.search-btn {
	border: none;
	background-color: transparent;
	cursor: pointer;

	&__icon {
		width: auto;

		fill: $second-text-color;
		transition: fill, $time-cubic-bezier;

		.search-btn:hover &,
		.search-btn:focus & {
			fill: $accent-color;
		}
	}
}