.social-list {
	display: flex;
	align-items: baseline;

	&__item {
		&:not(:first-child) {
			margin-left: 18px;
		}
	}

	&__icon {
		align-self: center;

		fill: $second-text-color;
		transition: fill, $time-cubic-bezier;

		.social-list__link:hover &,
		.social-list__link:focus & {
			fill: $accent-color;
		}
	}
}