.subscription {
	font-family: inherit;
	@include main-text(14px, 400, 1.28, $second-text-color);

	background-color: transparent;
	border: none;
	transition: color $time-cubic-bezier;

	@include interaction($accent-color);
}