.tab {
	display: flex;
	justify-content: space-between;
	align-items: center;


	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}

	&__button {
		font-family: inherit;
		@include main-text(12px, 700, 2.08, $primary-text-color);

		background-color: transparent;
		border: none;
		transition: color $time-cubic-bezier;

		@include interaction($accent-color);
	}
}