.user {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 17px;

	&__photo {
		width: auto;
	}

	&__name {
		@include main-text(12px, 700, 1.67, $primary-text-color);
	}

	&__profession {
		@include main-text(12px, 400, 1.67, $fourth-text-color);
	}
}