body {
	background-color: $main-bg-color;
	font-family: 'Lora', serif;
}

.container {
	max-width: 1440px;
	padding-left: 70px;
	padding-right: 70px;
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding-top: 150px;
	padding-bottom: 150px;

	&__title {
		@include main-text(36px, 700, 1.28, $primary-text-color);
	}
}