.editor {
	&__title {
		margin-bottom: 70px;
	}

	&__card-content {
		position: absolute;
		left: 9.5%;
		bottom: 12%;
		right: 9.5%;

		@include card-content($third-text-color, $second-text-color);

		& .card-content__title {
			max-width: 270px;
		}
	}
}