.footer {
	&__container {
		display: flex;
		align-items: flex-start;
	}

	&__information {
		padding-top: 106px;
		padding-bottom: 106px;

		background-color: $primary-footer-bg-color;
	}

	&__title {
		margin-bottom: 16px;

		@include main-text(18px, 700, 1.38, $third-text-color);
		text-transform: none;
	}

	&__rigths {
		@include main-text(14px, 700, 1.28, $second-text-color)
	}

	&__subscription {
		padding-top: 41px;
		padding-bottom: 41px;

		background-color: $second-footer-bg-color;
	}

	&__about,
	&__social-list,
	&__contacts,
	&__address {
		flex: 1;
	}
}

.contacts__item,
.about__item {
	&:not(:last-child) {
		margin-bottom: 18px;
	}
}

.contacts__link,
.about__link {
	@include main-text(12px, 400, 1.25, $second-text-color);

	transition: color $time-cubic-bezier;
	@include interaction($accent-color);
}

.address {
	font-style: normal;
}

.address__item {
	display: block;
	max-width: 114px;

	@include main-text(12px, 400, 1.67, $second-text-color);

	@include interaction($accent-color);
}