.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;

	background-color: rgba($color: $header-bg-color, $alpha: 0.2);

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__nav-menu {
		margin-left: auto;
	}

	&__social-list {
		&:before {
			@extend %decorative-horizontal-line;
		}

		&:after {
			@extend %decorative-horizontal-line;
		}
	}
}

.nav-menu {
	&__list {
		display: flex;
		justify-content: center;
		gap: 25px;
	}

	&__link {
		position: relative;

		font-family: 'Roboto', sans-serif;
		@include main-text(14px, 700, 1.67, $second-text-color);

		transition: color $time-cubic-bezier;
		@include interaction($accent-color);

		&_active {
			color: $third-text-color;

			&:after {
				content: " ";
				display: block;
				height: 2px;
				width: 100%;
				position: absolute;
				left: 0;
				bottom: -4px;

				background-color: $accent-color;
			}
		}
	}
}