.hero {
	padding-top: 278px;
	padding-bottom: 140px;

	background-image: url('../images/bg/first_hero.jpg');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	background-color: $main-bg-color;

	&__hashtag {
		margin-bottom: 15px;
	}

	&__title {
		max-width: 530px;
		margin-bottom: 15px;

		@include main-text(36px, 700, 1.28, $third-text-color);

		&_center {
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__content {
		display: flex;
		@include main-text(12px, 400, 1.67, $second-text-color);

		&_reverse {
			flex-direction: column-reverse;
			align-items: center;
		}
	}

	&__vertical-line:after {
		@include decorative-vertical-line(inline-block, 30px, 1px, 4px 10px);
	}

	&__vertical-line_center:before {
		@include decorative-vertical-line(block, 30px, 1px, 20px auto);
	}

	&__text {
		max-width: 420px;
	}
}

.sub-hero {
	padding-top: 140px;
	padding-bottom: 140px;

	text-align: center;
	background-image: url('../images/bg/second_hero.jpg');

	&__hashtag {
		margin-bottom: 24px;
	}
}