.topics {
	&__title {
		margin-bottom: 30px;
	}

	&__tab {
		margin-bottom: 30px;
	}

	&__card-content {
		padding: 0 20px;

		@include card-content($primary-text-color, $fourth-text-color);

		&:after {
			@include decorative-vertical-line(block, 100%, 1px, 20px 0px);
		}
	}
}